In [53]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from bs4 import BeautifulSoup
import time
from datetime import date
import csv

In [54]:
# access the url and pull its html

# Set up Selenium
service = Service(ChromeDriverManager().install())
options = webdriver.ChromeOptions()
# options.add_argument("--headless")  # Run in headless mode
driver = webdriver.Chrome(service=service, options=options)

url = "https://www.amazon.com/s?k=SQL&i=stripbooks-intl-ship&rh=n%3A283155%2Cp_n_publication_date%3A1250226011%2Cp_n_feature_nine_browse-bin%3A3291437011&dc&qid=1735623011&rnid=3291435011&xpid=HDtZxkKRxYd5i&ref=sr_pg_1"
driver.get(url)

In [55]:
# Iterate over the item list and scrapp the needed informations

Book_titles = []
Book_authors = []
Dates_published = []

Kindle_prices = []
Paperback_prices = []
Hardcover_prices = []

Date_extracted = []

def scrape_page():

    driver.current_url
    soup = BeautifulSoup(driver.page_source, "html.parser")

    Item_List = soup.find_all('div', {'role':'listitem'})
   
    for i in Item_List:
    
        Price_type_lists = []
        Price_lists = []
    
        # Extract book title
        Book_title = i.find("h2",class_="a-size-medium")
        Book_title = Book_title.get_text(strip=True)
        Book_titles.append(Book_title if Book_title else "N/A")
    
        # Extract book author
        Book_author = i.find("a", class_="a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style")
    
        if not Book_author:
            container = i.find("div", class_="a-row")
            if container:
                # Look for the author specifically within "by" context
                text_parts = container.get_text(strip=True).split("|")
                for part in text_parts:
                    if "by" in part.lower():
                        # Extract the author's name and clean up the text
                        Book_author = part.split("by")[1].strip()
                        break
    
        # Append the author name, ensuring no publication date is included
        if hasattr(Book_author, "get_text"):
            Book_authors.append(Book_author.get_text(strip=True))  # Extract the text from the tag
    
        elif Book_author:
            Book_authors.append(Book_author)  # Use the extracted text directly
        else:
            Book_authors.append("N/A")  # Default value if no author is found
    
        
        # Extract published date
        Date_published = i.find("span", class_="a-size-base a-color-secondary a-text-normal")
        Date_published = Date_published.get_text(strip=True)
        Dates_published.append(Date_published if Date_published else "N/A")
    
        # Extract kindle price
    
        Index_price_type_lists = i.find_all("a", class_="a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-bold")
        Index_price_lists = i.find_all("span", class_="a-offscreen")
    
        for j in Index_price_type_lists:
            Price_type_lists.append(j.get_text(strip=True))
    
        for k in Index_price_lists:
            Price_lists.append(k.get_text(strip=True))
    
        price_dict = dict(zip(Price_type_lists, Price_lists))
    
        # Extract kindle price
    
        search_term = "Kindle"
        matching_key = next((key for key in price_dict if search_term in key), None)
    
        # Assign the value to a variable
        if matching_key:
            Kindle_price = price_dict[matching_key]
            Kindle_prices.append(Kindle_price)
        
        else:
            Kindle_prices.append("N/A")
    
    
        # Extract Paperback price
    
        search_term = "Paperback"
        matching_key = next((key for key in price_dict if search_term in key), None)
    
        # Assign the value to a variable
        if matching_key:
            Paperback_price = price_dict[matching_key]
            Paperback_prices.append(Paperback_price)
        
        else:
            Paperback_prices.append("N/A")
            
        # Extract Harcover price
    
        search_term = "Hardcover"
        matching_key = next((key for key in price_dict if search_term in key), None)
    
        # Assign the value to a variable
        if matching_key:
            Hardcover_price = price_dict[matching_key]
            Hardcover_prices.append(Hardcover_price)
        
        else:
            Hardcover_prices.append("N/A")

        # write the date that the information is extracted 
        Date_extracted.append(date.today())

In [56]:
# Function to navigate through pages

def go_to_next_page():
    try:
        # Find the "Next" button (adjust based on the actual button's identifier)
        next_button = driver.find_element(By.XPATH, "//a[text()='Next']")  # If it uses text 'Next'
        next_button.click()  # Click the "Next" button
        time.sleep(15)  # Wait for the page to load
    except Exception as e:
        print("No more pages or error:",e)
        return False
    return True

In [57]:
# Scrape the first page
scrape_page()

# Loop through and scrape data from subsequent pages

while go_to_next_page():
    scrape_page()  # Scrape data after clicking the "Next" button

# Once done, close the browser
driver.quit()

No more pages or error: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[text()='Next']"}
  (Session info: chrome=131.0.6778.205); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00DFEC13+23731]
	(No symbol) [0x00D8C394]
	(No symbol) [0x00C6BE63]
	(No symbol) [0x00CAFCE6]
	(No symbol) [0x00CAFF2B]
	(No symbol) [0x00CED892]
	(No symbol) [0x00CD1EA4]
	(No symbol) [0x00CEB46E]
	(No symbol) [0x00CD1BF6]
	(No symbol) [0x00CA3F35]
	(No symbol) [0x00CA4EBD]
	GetHandleVerifier [0x010DF0D3+3039603]
	GetHandleVerifier [0x010F2DEA+3120778]
	GetHandleVerifier [0x010EB592+3089970]
	GetHandleVerifier [0x00E943B0+635984]
	(No symbol) [0x00D94DCD]
	(No symbol) [0x00D92068]
	(No symbol) [0x00D92205]
	(No symbol) [0x00D84FD0]
	BaseThreadInitThunk [0x76F06839+25]
	RtlGetFullPathName_UEx [0x77D5906F+1215]
	RtlGetFullPathName_UEx [0x77D5903D+1165]

In [58]:
import pandas as pd

df = pd.DataFrame({"Title":Book_titles,
                   "Author":Book_authors,
                   "Published_Date":Dates_published,
                   "Kindle Price":Kindle_prices,
                   "Paperback Price":Paperback_prices,
                   "Hardcover price":Hardcover_prices,
                   "Extraction Date":Date_extracted})
styled_df = df.style.set_properties(**{'text-align': 'left'})
styled_df = styled_df.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

In [59]:
styled_df